{% extends 'base.html' %}

{% block body %}
{% load static %}
<style>
    body {
        font-size: 16px;
    }

    .rm-btn {
        padding: 5px 10px;
        font-size: 14px;
    }

  /* Media query for smaller screens */
    @media (max-width: 768px) {
        body {
            font-size: 12px;
        }

        .rm-btn {
            padding: 3px 8px;
            font-size: 12px;
            width:70px;
        }
    }
</style>
<div class="container-fluid" style="background-color: #0B1C39; margin-bottom: 10px; font-family: 'Josefin Sans', sans-serif;">
    <div class="row justify-content-center align-items-center" style="height: 120px; background-color: #0B1C39; margin-bottom: 10px; font-family: 'Josefin Sans', sans-serif;  text-align: center; color: white; font-weight: bold;">
        <div class="col">
            <span style="text-transform: uppercase;" class="cart-span">Shopping </span><span  style="text-transform: uppercase; color: #FF2020;" class="cart-span">Cart</span>
        </div>
    </div>
</div>

<!-- Shopping Cart -->
<section class="shop-cart" style="font-family: 'Josefin Sans', sans-serif; margin-bottom: 10px;">
    <div class="bg0 p-t-75 p-b-85">
        <div class="container">
            {% for msg in messages %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        {% if msg.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% elif msg.tags == 'success' %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {% else %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    {% endif %}
                                    {{ msg }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {{ cart_items.count }}
            {% if total_item_count == 0 %}
            <div class="container justify-content-center py-4 mt-4">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card text-black align-items-center" style="border: 1px solid #0B1C39; padding: 30px; background:white;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-body p-md-4">
                                        <div class="message-container text-center">
                                            <div class="verification-box">
                                                <h1>Oops...! Your Cart Is Empty !</h1>
                                                <img class="verification-image img-fluid" src="{% static 'images/cart_empty.png' %}" alt="Verification Image">
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <a href="{% url 'shop' %}" class="btn mt-3" style="background-color: #0B1C39;color:white;">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-100">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="table-responsive">
                            <table class="table cart-table table-striped table-bordered">
                                <thead style="color: white; background-color: #0B1C39">
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Qty * Price</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cart_item in cart_items %}
                                    <tr>
                                        <td>
                                            <div class="how-itemcart1">
                                                <img src="{{ cart_item.product.images.first.image.url }}" alt="Product Image" style="height: 60px; width: 60px;">
                                            </div>
                                        </td>
                                        <td>{{ cart_item.product.product.name }}-{{ cart_item.product.color }}</td>
                                        <td>₹ {{ cart_item.price }}</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <button class="btn btn-sm {% if cart_item.quantity <= 1 %}btn-light disabled{% else %}{% endif %} cart-btn" id="decreaseBtn{{ cart_item.id }}" onclick="decreaseQuantity('{{ cart_item.id }}');" style="background-color: #FF2020; font-weight: bold; color: white; width: 30px; height: 30px; padding: 0; font-size: 14px;" >-</button>
                                                <input type="number" class="form-control form-control-sm quantity-input" id="qty{{ cart_item.id }}" step="1" min="1" max="300" name="quantity" value="{{ cart_item.quantity }}" onchange="updateQuantity('{{ cart_item.id }}', this.value);" style="width: 60px; text-align: center; height: 30px; background-color: #0B1C39; color: white;" disabled>
                                                <button class="btn btn-sm {% if cart_item.quantity >= cart_item.product.stock %}btn-light disabled{% else %}{% endif %} cart-btn" id="increaseBtn{{ cart_item.id }}" onclick="increaseQuantity('{{ cart_item.id }}','{{ cart_item.product.stock }}');" style="background-color: #FF2020; font-weight: bold; color: white; width: 30px; height: 30px; padding: 0; font-size: 14px;">+</button>
                                            </div>
                                        </td>
                                        <td>₹ {{ cart_item.subtotal }}</td>
                                        <td>
                                            <form method="POST" action="{% url 'remove_from_cart' %}?page={{ cart_items.number }}">
                                                {% csrf_token %}
                                                <input type="hidden" name="item_id" value="{{ cart_item.id }}">
                                                <button type="submit" class="btn btn-sm rm-btn" style="color: #0B1C39; background-color: #FF2020;">Remove</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <nav class="d-flex justify-content-center mt-4">
                            <ul class="pagination">
                                {% if cart_items.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ cart_items.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}
                                {% for i in cart_items.paginator.page_range %}
                                    <li class="page-item {% if cart_items.number == i %}active{% endif %}">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                                {% if cart_items.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ cart_items.next_page_number }}">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ cart_items.paginator.num_pages }}">Last</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <!-- Coupon Form -->
                    <form method="POST" action="{% url 'apply_coupon' %}">
                        {% csrf_token %}
                        <div class="btn-group mb-3">
                            <div class="btn-group">
                                <select name="coupon_id" class="form-control" style="width: 100%; height:50px;">
                                    <option value="">Select Coupon</option>
                                    {% for coupon in valid_coupons %}
                                    <option value="{{ coupon.id }}" {% if applied_coupon and coupon.id == applied_coupon.id %}selected{% endif %}>
                                        {{ coupon.code }} ({{ coupon.discount }})
                                    </option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-block" style="color: #0B1C39; background-color: #FF2020; border: none;height:50px;width: 100%;">Apply Coupon</button>
                            </div>
                        </div>
                    </form>

                    <!-- Applied Coupon -->
                    {% if applied_coupon and applied_coupon.id %}
                    <div class="mt-3 row">
                        <div class="col-sm-9 btn-group">
                            <h6>Applied Coupon: {{ applied_coupon.code }}</h6>
                        </div>
                        <form method="POST" action="{% url 'remove_coupon' %}">
                            {% csrf_token %}
                            <input type="hidden" name="coupon_id" value="{{ applied_coupon.id }}" style="height:10px;">
                            <button type="submit" class="btn btn-sm" style="color: #0B1C39; background-color: #FF2020; margin-bottom: 10px;">Remove Coupon</button>
                        </form>
                    </div>
                    {% endif %}

                    <!-- Cart Totals -->
                    <div class="border rounded p-4">
                        <h4 class="mtext-109 cl2 mb-4">Cart Totals</h4>
                        <div class="d-flex justify-content-between mb-3">
                            <span class="stext-110 cl2">Subtotal:</span>
                            <span class="mtext-110 cl2">₹ {{ subtotal }}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <span class="stext-110 cl2">Discount Amount:</span>
                            <span class="mtext-110 cl2">{{ discount_amount }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="stext-101 cl2">Total:</span>
                            <span class="mtext-110 cl2">₹ {{ total_price }}</span>
                        </div>
                        <div class="mt-4">
                            {% if total_price_after_discount == 0 %}
                            <a href="" class="btn btn-lg btn-block" style="background-color: #0B1C39; color: white;">Shop more</a>
                            {% else %}
                            <a href="{% url 'checkout' %}?discount={{ discount_amount }}" class="btn btn-lg btn-block" style="background-color: #0B1C39; color: white;">Proceed to Checkout</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function increaseQuantity(item_id, stock) {
        var quantityInput = $('#qty' + item_id);
        var quantity = parseInt(quantityInput.val());
        if (quantity < stock) {
            quantity += 1;
            updateQuantity(item_id, quantity);
        }
    }

    function decreaseQuantity(item_id) {
        var quantityInput = $('#qty' + item_id);
        var quantity = parseInt(quantityInput.val());
        if (quantity > 1) {
            quantity -= 1;
            updateQuantity(item_id, quantity);
        }
    }

    function updateQuantity(item_id, quantity) {
        var url = "{% url 'update_quantity' %}";
        var csrfToken = "{{ csrf_token }}";

        $.ajax({
            url: url,
            type: "POST",
            data: {
                item_id: item_id,
                quantity: quantity,
                csrfmiddlewaretoken: csrfToken
            },
            success: function(response) {
                window.location.reload();
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>

{% endblock %}
