<!-- change_password.html -->

{% extends 'base.html' %}

{% block body %}
<section class="h-100 gradient-form" style="margin-top: 120px;">
    <div class="container justify-content-center py-4 mt-4">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-6">
                <div class="card text-black" style="border: 1px solid #0B1C39; padding: 30px; background:white;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-body p-md-4">
                                <div class="text-center">
                                    <h4 class="mt-1 mb-4">Change Password</h4>
                                </div>
                                <form action="{% url 'change_password' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="old_password">Old Password</label>
                                        <input type="password" id="old_password" class="form-control" placeholder="Enter your old password" name="old_password" required />
                                    </div>
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="new_password">New Password</label>
                                        <input type="password" id="new_password" class="form-control" placeholder="Enter your new password" name="new_password" required />
                                    </div>
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="confirm_password">Confirm Password</label>
                                        <input type="password" id="confirm_password" class="form-control" placeholder="Confirm your new password" name="confirm_password" required />
                                    </div>
                                    <div class="text-center pt-1">
                                        <button class="btn btn-block" style="background-color: #0B1C39; color:white;" type="submit">Submit</button>
                                    </div>
                                </form>
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} mt-3" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
