{% extends 'adminbase.html' %}
{% load static %}

{% block body %}
<div class="container-fluid" style="margin-top: 130px; margin-bottom: 20px; font-family: 'Josefin Sans', sans-serif;">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">EDIT BANNER</h5>
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'edit-banner' banner.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_name" class="form-label">Banner Name</label>
                                <input type="text" class="form-control" id="id_name" name="name" value="{{ banner.name }}">
                            </div>
                            <div class="mb-3">
                                <label for="id_image" class="form-label">Image</label>
                                <input type="file" class="form-control" id="id_image" name="image" onchange="previewImage(event)">
                                <img id="preview" src="{% if banner.image %}{{ banner.image.url }}{% endif %}" alt="Banner Image Preview" width="100" height="100" style="display: {% if banner.image %}block{% else %}none{% endif %}; padding-top: 5px;">
                            </div>
                            <div class="mb-3">
                                <label for="id_brand" class="form-label">Brand</label>
                                <select class="form-control" id="id_brand" name="brand">
                                    <option value="" {% if not banner.brand %}selected{% endif %}>None</option>
                                    {% for brand in active_brands %}
                                        <option value="{{ brand.id }}" {% if banner.brand == brand %}selected{% endif %}>{{ brand.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function previewImage(event) {
        var input = event.target;
        var reader = new FileReader();

        reader.onload = function() {
            var imgElement = document.getElementById('preview');
            imgElement.src = reader.result;
            imgElement.style.display = 'block';
        };

        reader.readAsDataURL(input.files[0]);
    }
</script>

{% endblock %}
