{% extends 'base.html' %}
{% block body %}
{% load static %}

<style>
    .address-box {
        border: 1px solid #dee2e6;
        border-radius: 5px;
        padding: 15px;
        background-color: #f8f9fa;
    }
    .inline-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* Responsive Styles */
    @media (max-width: 768px) {
        .inline-boxes {
            flex-direction: column;
        }
        .address-box, .order-details {
            margin-bottom: 20px;
        }
    }
    .download-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 30px;
}

.download-button {
    padding: 10px 20px;
    background-color:#11A4A1 ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Add transitions */
}
.download-button:hover {
    color: #fff;
    background-color:#0B8A2A ; /* New background color on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
}

    @media (max-width: 576px) {
        .order-details, .address-box {
            padding: 10px;
        }
    }
</style>
<script>
    function confirmReturnRequest() {
        var confirmReturn = confirm("Are you sure you want to request a return?");
        if (confirmReturn) {
            // Submit the return request form
            return true;
        } else {
            return false;
        }
    }

    function confirmCancelOrder() {
        var confirmCancel = confirm("Are you sure you want to cancel this order?");
        if (confirmCancel) {
            // Submit the cancel order form
            return true;
        } else {
            return false;
        }
    }
</script>
    <section style="background-color: #f5f5f5; font-family: 'Josefin Sans', sans-serif;">
        <div class="container">

            <h1>Your orders</h1>
            <hr>

            <div class="mt-4">
                {% if order.order_status != 'Delivered' %}
                    {% if order.order_status != 'Returned' and order.order_status != 'Cancelled' %}
                        <form action="{% url 'cancel_order' order.id %}" method="post" onsubmit="return confirmCancelOrder()">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" {% if order.return_period_expired %}disabled{% endif %}>
                                {% if order.order_status == 'Requested for return'  %}
                                    Return in progress
                                {% elif order.return_period_expired  < current_date %}
                                    Return period has expired
                                {% else %}
                                    Cancel
                                {% endif %}
                            </button>
                        </form>
                    {% endif %}
                {% elif order.order_status == 'Delivered' %}
                    {% if  order.return_period_expired > current_date %}
                        <form action="{% url 'return_request' order.id %}" method="post" onsubmit="return confirmReturnRequest()">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">
                                Request For Return
                            </button>
                        </form>
                    {% else %}
                        <p class="text-danger">Return period has expired.</p>
                    {% endif %}
                {% endif %}
            </div>

            <h2 class="mt-4">Order Products</h2>
            <table class="table table-striped table-bordered mt-3">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Image</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for orders in order_items %}
                    <tr>
                        <td>{{ orders.product }}</td>
                        <td><img src="{{ orders.product.images.first.image.url }}" alt="{{ order.product.name }}" class="img-thumbnail" style="height:70px;width:70px;"></td>
                        <td>{{ orders.price }}</td>
                        <td>{{ orders.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Div to display address and order details inline -->
            <div class="inline-boxes mt-4">
                <!-- Order details box -->
                <div class="order-details">
                    <h2>Order Details</h2>
                    <p><strong>Order ID:</strong> {{ order.id }}</p>
                    <p><strong>Order Date:</strong>  {{ order.order_date|date:"d F Y" }}</p>
                    <p><strong>Order status:</strong><span class="font-weight-bold  text-danger mx-2">{{ order.order_status }}</span></p>
                    {% if order.order_status == 'Cancelled' %}
                        <p><strong>Cancelled Date:</strong> {{ order.cancelled_date |date:"d F Y" }}</p>
                    {% elif order.order_status == 'Shipped' %}
                        <p><strong>Shipped Date:</strong> {{ order.shipping_date |date:"d F Y"}}</p>
                    {% elif order.order_status == 'Requested for return' %}
                    <p><strong>Return Request Date:</strong> {{ order.return_request_date|date:"d F Y" }} <span style="color:red;">Your request will be accepted with in two working days from the date</span></p>
                    {% elif order.order_status == 'Returned' %}
                        <p><strong>Return Date:</strong> {{ order.returned_date|date:"d F Y" }} </p>
                    {% else %}
                        {% if order.delivery_date %}
                            <p><strong>Delivery Date:</strong> {{ order.delivery_date |date:"d F Y" }}</p>
                        {% else %}
                            <p><strong>Expected Delivery Date:</strong> {{ expected_delivery_date | date:"d F Y" }}</p>
                        {% endif %}
                    {% endif %}
                    <p><strong>Payment Method:</strong> {{ order.payment_method }}</p>
                    <p><strong>Payment status:</strong><span class="font-weight-bold  text-danger mx-2">{{ order.payment_status }}</span></p>
                    <p><strong>Applied Coupons:</strong> {% if  order.applied_coupon is None %} No Coupon Applied {% else %} {{ order.applied_coupon}} - {{ order.applied_coupon.discount }} {% endif %}</p>
                    <p><strong>Shipping Charge:</strong> {{ order.shipping_charge }}</p>
                    <p><strong>Total Price:</strong> {{ order.total_price }}</p>
                </div>

                <!-- Address box -->
                <div class="address-box ml-4">
                    <h2>Order Address</h2>
                    <p><strong>Name:</strong> {{ order.first_name }} {{ order.address.last_name }}</p>
                    <p><strong>Email:</strong> {{ order.email }}</p>
                    <p><strong>Phone:</strong> {{ order.phone_number }}</p>
                    <p><strong>Address Line 1:</strong> {{ order.address_line_1 }}</p>
                    {% if order.address_line_2 %}
                        <p><strong>Address Line 2:</strong> {{ order.address_line_2 }}</p>
                    {% endif %}
                    <p><strong>City:</strong> {{ order.city }}</p>
                    <p><strong>Pin Code:</strong> {{ order.postal_code }}</p>
                    <p><strong>State:</strong> {{ order.state }}</p>
                    <p><strong>Country:</strong> {{ order.country }}</p>
                </div>
            </div>
            <div class="download-button-container">
                <a href="{% url 'download_invoice' order.id %}" class="download-button" style="text-decoration:None;">Download Invoice</a>
            </div>
        </div>
    </section>
{% endblock %}
