{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/bootstrap-icons.min.css">
<!--    <script src="https://kit.fontawesome.com/a076d05399.js"></script>-->

    <title>{% block title %}{% endblock %}</title>
  <style>
.zoomable-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            cursor: zoom-in;
            transition: transform 0.3s ease-in-out;
        }

        /* Cursor style for the zoom-in effect */
        .imgBox.zoomed-in {
            cursor: zoom-out;
            overflow: hidden;
        }

        /* Additional styling for the zoomed-in image */
        .imgBox.zoomed-in .zoomable-image {
            cursor: grab;
        }

        .imgBox.zoomed-in .zoomable-image:active {
            cursor: grabbing;
        }
          <div class="col-xs-6"  style="width:55rem">

</style>
</head>
<body>

    {% include 'navbar.html' %}

<section style="padding-top: 20px;font-family: 'Josefin Sans', sans-serif;">
      {% for msg in messages %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                     {% if msg.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      {% else %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                      {% endif %}
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

  <div class="container">
    <div class="row">
      <div class="col-md-4 imgBox">
        <!-- Product Image Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <!-- Carousel Indicators -->
          <ol class="carousel-indicators">
            {% for image in selected_variant.images.all %}
              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
          </ol>
          <!-- Carousel Images -->
          <div class="carousel-inner">
            {% for image in selected_variant.images.all %}
              <div class="carousel-item  {% if forloop.first %}active{% endif %}">
                <img src="{{ image.image.url }}" alt="Product Image" class="d-block w-100 zoomable-image" style="height: 400px;width: 400px;object-fit: cover;">
              </div>
            {% endfor %}
          </div>
          <!-- Carousel Controls -->
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-6"  style="width:55rem">
        <!-- Product Details -->
        <div class="product-details" style="height:25rem">
          <h2 style="color:#0B1C39;font-family:'Josefin Sans', sans-serif;">{{ selected_variant.product.name }} - {{ selected_variant.color.color }}</h2>
          <div class="description-container" style="max-height: 4rem; overflow: auto; scrollbar-width: none;">
                <p>{{ selected_variant.product.description }}</p>
            </div>
          <div class="color-variants">
            <p style="color:#0B1C39;font-family:'Josefin Sans', sans-serif;">Choose Color:</p>
            <form method="post" action="{% url 'product_detail' slug=product.slug %}">
              {% csrf_token %}
              {% for variant in variants %}
                <button type="submit" class="color-variant rounded-circle" style="background-color: {{ variant.color.color }};  width:20px;height:20px;" name="variant_id" value="{{ variant.id }}"></button>
              {% endfor %}
            </form>
          </div>
          <div class="price-stock">

            {% for variant in variants %}
              <div class="variant-details" {% if variant != selected_variant %}style="display: none;"{% endif %}>
                {% if offer_price is not None %}
                <p class="price">
                     <del><span class="original-price">₹{{ variant.price }}</span></del> <span class="variant-price">₹{{ offer_price }}</span><br>
                </p>
            {% else %}
                <p class="price">Price: <span class="variant-price">₹{{ variant.price }}</span></p>
            {% endif %}
                <p class="stock">Stock Availability:
                  <span class="variant-stock">
                    {% if variant.stock > 0 and variant.stock <= 5 %}
                      Only {{ variant.stock }} item(s) left
                    {% elif variant.stock > 5 %}
                      Stock available
                    {% else %}
                      Out of Stock
                    {% endif %}
                  </span>
                </p>
                <form method="post" action="{% url 'add_to_cart' variant_id=selected_variant.id %}">
                  {% csrf_token %}
                  <button class="btn" type="submit" name="add_to_cart" value="{{ variant.id }}" style="background-color:#0B1C39;color:white;">Add <i class="fas fa-shopping-cart" style="font-size: 13px; color:white;"></i></button>
                </form>
              </div>
            {% endfor %}

            {% if request.user.is_authenticated %}
              {% if is_in_wishlist %}
                  <!-- Product variant is already in the user's wishlist -->
                  <form method="post" action="{% url 'remove_from_wishlist' variant_id=selected_variant.id %}">
                      {% csrf_token %}
                      <button class="btn" type="submit" name="remove_from_wishlist" value="{{ selected_variant.id }}" style="background-color:#0B1C39;color:white;">Remove <i class="far fa-heart" style="font-size: 13px; color:white;"></i></button>
                  </form>
              {% else %}
                  <!-- Product variant is not in the user's wishlist -->
                  <form method="post" action="{% url 'add_to_wishlist' variant_id=selected_variant.id %}">
                      {% csrf_token %}
                      <button class="btn" type="submit" name="add_to_wishlist" value="{{ selected_variant.id }}" style="background-color:#0B1C39;color:white;">Add <i class="far fa-heart" style="font-size: 13px; color:white;"></i></button>
                  </form>
              {% endif %}
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section style="padding-top: 20px; margin-bottom: 50px;color:#0B1C39;font-family:'Josefin Sans', sans-serif;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Specification & Review Box -->
        <div class="specification-review-box">
          <!-- Specification & Review Buttons -->
          <div class="button-group">
            <button class="btn active" id="specification-btn">Specification</button>
            <button class="btn" id="review-btn">Review</button>
          </div>
          <!-- Specification & Review Content -->
          <div class="content-box" id="specification-content">
            <h3>Specification</h3>
            <ul>
              <li>Model Name: {{ selected_variant.model_name }}</li>
              <li>Model Number: {{ selected_variant.model_number }}</li>
              <li>Waterproof: {% if selected_variant.water_proof %}Yes{% else %}No{% endif %}</li>
              <li>Touch Screen: {% if selected_variant.touch_screen %}Yes{% else %}No{% endif %}</li>
              <li>Dial Shape: {{ selected_variant.dial_shape }}</li>
              <li>Brand: {{ selected_variant.product.brandName }}</li>
            </ul>
          </div>
          <div class="content-box" id="review-content" style="display: none;">
            <h3>Reviews</h3>
            <p>Product reviews go here...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
    const imgBox = $('.imgBox');
    const zoomableImage = imgBox.find('.zoomable-image');
    const zoomedInClass = 'zoomed-in';
    let zoomedIn = false;

    function zoomImage(event) {
      if (!zoomedIn) {
        const boundingRect = imgBox[0].getBoundingClientRect();
        const imageRect = zoomableImage[0].getBoundingClientRect();

        const scaleX = boundingRect.width / imageRect.width;
        const scaleY = boundingRect.height / imageRect.height;
        const scale = Math.max(scaleX, scaleY);

        const cursorX = event.clientX - boundingRect.left;
        const cursorY = event.clientY - boundingRect.top;
        const offsetX = (boundingRect.width - imageRect.width * scale) / 2;
        const offsetY = (boundingRect.height - imageRect.height * scale) / 2;

        zoomableImage.css({
          transform: `scale(${scale})`,
          transformOrigin: `${cursorX}px ${cursorY}px`,
          left: `${offsetX}px`,
          top: `${offsetY}px`,
        });
        imgBox.addClass(zoomedInClass);
        zoomedIn = true;
      } else {
        zoomableImage.css({
          transform: 'scale(1)',
          left: '0',
          top: '0',
        });
        imgBox.removeClass(zoomedInClass);
        zoomedIn = false;
      }
    }

    imgBox.on('click', zoomImage);
  });
</script>

{% include 'footer.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>


